<mat-card class="energy-meters-containers">
    <mat-card-content>
        <div class="container">
            <div class="main-content">
                <app-energy-meters-container (selectedColumn)="toggleSidePanel($event)" [newData]="updatedData" [elementDeletedId]="elementDeletedId"></app-energy-meters-container>
            </div>
            <div class="side-pannel" [ngClass]="{'hide': isHidden}" *ngIf="!isHidden">
                <app-side-pannel [data]="data" (hideSidePannel)="closeSidePannel($event)" (updateData)="updateData($event)" (deleteData)="deleteData($event)"></app-side-pannel>
            </div>
        </div>
    </mat-card-content>
</mat-card>
