@import "../../../variables";
nav li {
    list-style: none;
    position: relative;
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
    color: $primary-color;
}

nav a {
    text-decoration: none;
    color: $black-color;
    font-size: 15px;
    width: 100%;
}

nav li a {
    padding-top: 10px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-li {
    background-color: $white-color;
    color: black;
    font-size: 18px;
    width: 100%;
}

.active-li a {
    font-weight: bold;
    width: 100%
}

.active-li-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 10px;
}

.active-li .active-li-icon {
    font-weight: bold;
    color: $black-color;
}

.active-li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    right: 0px;
    top: 0;
    background-color: $primary-color;
}

.nav-title {
    color: $white-color;
    font-weight: bold;
    padding: 20px;
    font-size: 15px;
}

nav {
    background-color: var(--color-page-background);
    color: var(--color-text);
    overflow: hidden;
    box-shadow: 4px 0px 6px rgba(238, 238, 238, 4);
    height: 100%;
}

nav mat-icon {
    padding-right: 30px;
    color: var(--color-text);
}

#sidebar-list {
    padding: 0;
    margin: 0;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
}